doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Font picker
    meta(name='description', content='bla bla')
    meta(name='author', content='Steffen Bohn')
    link(rel='stylesheet', type='text/css', href='/stylesheets/char.css')
  body(spellcheck=false)
    #char
    #template
      button.butt &#9632;
    script(src="/javascripts/char.js")          
    