doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Edit
    meta(name='description', content='bla bla')
    meta(name='author', content='Steffen Bohn')
    link(rel='stylesheet', type='text/css', href='/stylesheets/edit.css')
  body(spellcheck=false)
    
    #header
      .tabcontainer
        .tabheader.tabselect content
        .tabheader style
        .tabheader script
        .tabheader preview
    #whitetop
    include left 

    #base(spellcheck='false')
      #menubase
        .updown
          button(onclick='carretMove(-1)') &#9650;
          button(onclick='carretMove(1)') &#9660;
        //.buttons
        button(onclick="insertElem('text', 'new text')") +text
        button(onclick="insertElem('div', 'new div')") +node
        button(onclick='removeElement(null)') delete
          //button(onclick='xxx(this)') copy 
          //button(onclick='xxx(this)') cut 
          //button(onclick='xxx(this)') paste 
      
      include html
      
    +elementMenu()

    include right  

    
    script(src="/javascripts/edit.js")          
    