doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Edit
    meta(name='description', content='bla bla')
    meta(name='author', content='Steffen Bohn')
    link(rel='stylesheet', type='text/css', href='/stylesheets/edit.css')
  body(spellcheck=false)
    
    #header
      .tabcontainer
        .tabheader.tabselect content
        .tabheader style
        .tabheader script
        .tabheader preview
    #whitetop
    include left 

    #base(spellcheck='false')
      #startbase(tabindex='0' onfocus="focusLast(this)") 
      include element
      +baseElement('page', 'index', '')
        +element('div', 'header', 'foo bar')
          +element('div', 'myId', '')
          +element('div', 'foo', 'hide red content')
      #endbase(tabindex='0' onfocus="focusLast(this)") 
    +elementMenu()

    include right  
    #element_template.hide
      +element('TYPE', '', '')  
    #text_template.hide
      +ttext
    #caret_template.hide
      +blinker('')
    
    



    script(src="/javascripts/edit.js")          
    