doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Font picker
    meta(name='description', content='bla bla')
    meta(name='author', content='Steffen Bohn')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font.css')
  body(spellcheck=false)
    include fonttext
    #main
      #top
        .nav
          button#bookmarkFont(onclick='bookmarkFont()') &#9734;
            span.tooltiptext bookmark
          //button &#9733;
          button &#8592;
            span.tooltiptext undo
          //button &#8594;
        .mode
          button.mode.selected(name='all' onclick='toggleMode(this)') all
            span.tooltiptext toggle headers and body
          button.mode(name='header' onclick='toggleMode(this)') header
            span.tooltiptext toggle headers only
          button.mode(name='body' onclick='toggleMode(this)') body
            span.tooltiptext toggle headers only            
        div
          button options
            span.tooltiptext restrict choices
          button bookmarks
            span.tooltiptext see bookmarked fonts
          button share
            span.tooltiptext share with your friends
          button(onclick='download(this)') download
            span.tooltiptext for your website, your MS word, etc. 
          
      #container
        +box(0)
        +box(1)
        +box(2)
        #overlay
          #download
            p
              span family:
              span xxx
            p
              span font:
              span xxx
            p
              span licence:
              span google
            

        //#right
          +little()
          +little()
          +little()
      #bottom
        a legal
        a contact
        a &copy; Steffen
    #start
      div
        p Click on the font you prefer. Toggle font will figure out what you want. 
        p 
          | And yes, we are using cookies (
          a learn more
          |).
        button(onclick='hideStart()') OK
    #boxtemplate
      +box('-1')
    script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js")
    script(src="/javascripts/font.js")          
    