doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    title Font picker
    meta(name='description', content='bla bla')
    meta(name='author', content='Steffen Bohn')
    link(rel='stylesheet', type='text/css', href='/stylesheets/font.css')
  body(spellcheck=false)
    include fonttext
    #main
      #top
        .mode
          button &#x2B60;
          button &#x279D;
          //button.mode.selected(onclick='toggleMode(this)') all
          button.mode(onclick='toggleMode(this)') header
          button.mode(onclick='toggleMode(this)') body  
          button bookmark
        div
          button options
          button bookmarks
          button share
          button(onclick='download(this)') download
      #container
        +box(0)
        +box(1)
        +box(2)
        #overlay
          #download
            p
              span family:
              span xxx
            p
              span font:
              span xxx
            p
              span licence:
              span google
            

        //#right
          +little()
          +little()
          +little()
      #bottom
        a legal
        a contact
        a &copy; Steffen
    #start
      div
        p Click on the font you prefer. Toggle font will figure out what you want. 
        p 
          | And yes, we are using cookies (
          a learn more
          |).
        button(onclick='hideStart()') OK
    #boxtemplate
      +box('-1')
    script(src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js")
    script(src="/javascripts/font.js")          
    