/*$color-lightgray: #636363;*/
* {
  padding: 0;
  margin: 0; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  color: #353535;
  height: 100%; }

h1, h2, h3, h4, div, ul, li, p, span, button {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

div:focus, div:active, span:focus, span:active {
  outline: 0;
  border: none; }

button {
  display: block;
  border: 1px solid darkgray;
  border-radius: 2px;
  background-color: darkgray;
  color: white;
  padding: 2px;
  margin: 2px; }
  button:hover {
    background-color: gray;
    outline: 0; }
  button:active {
    background-color: gray;
    outline: 0; }

.unselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  cursor: default; }

.hide {
  display: none !important; }

/*blinker*/
@keyframes blinker {
  50% {
    opacity: 0; } }

div.blink {
  height: 5px;
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  text-align: left;
  cursor: vertical-text;
  /*background-color: yellow;*/ }

div.blinkactive {
  height: 1px;
  width: 30px;
  margin-left: 1px;
  /*margin: 10px 2px 10px $content_indent;*/
  background-color: black;
  animation: blinker 1s linear infinite; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #140068; }

.tabcontainer {
  position: absolute;
  right: 0;
  left: 0;
  /*border-bottom: 2px solid white;*/
  bottom: 0;
  padding-left: 320px; }

.tabheader {
  display: inline-block;
  background-color: gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 80px;
  text-align: center;
  margin-right: 5px; }

.tabselect {
  background-color: white; }

#left, #right {
  position: fixed;
  top: 50px;
  bottom: 0;
  padding: 5px; }

#right {
  right: 0;
  width: 100px;
  background-color: #333333; }

#left {
  left: 0;
  width: 300px;
  background-color: #dbdbdb; }

#whitetop {
  position: fixed;
  left: 50px;
  right: 100px;
  top: 50px;
  height: 15px;
  background-color: white; }

#base {
  margin-top: 65px;
  margin-left: 300px;
  margin-right: 100px;
  padding: 15px;
  /*min-height: 95%;*/
  margin-bottom: 0;
  overflow: visible;
  /*background-color: yellow;*/
  /*font-family: "Bookman Old Style";*/ }

#lefttop {
  height: 80px;
  border-bottom: 1px solid black;
  margin-bottom: 15px; }
  #lefttop .updown {
    float: right; }

#leftinsert .lcont {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 180px;
  width: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #8cd3ff; }
  #leftinsert .lcont h2 {
    text-align: center;
    background-color: #8cd3ff; }
  #leftinsert .lcont div, #leftinsert .lcont button {
    margin: 3px;
    color: #8cd3ff;
    background-color: #8c8c8c;
    padding: 0px 5px 0px 5px; }

#leftprop h3 {
  text-align: center;
  background-color: #636363;
  color: white;
  margin: 3px;
  padding: 2px; }

#leftprop .propname, #leftprop .propvalue {
  display: inline-block;
  width: 48%;
  padding: 2px;
  margin: 1px; }

#leftprop .propvalue {
  border: 0.5px solid black;
  background-color: white; }

#leftprop .propname {
  text-align: right;
  color: black; }

#leftprop .ppcomment > div.propvalue {
  background-color: #97ce8c; }

#leftprop .pptype > div.propvalue {
  color: #8cd3ff;
  background-color: #636363; }

.tshow {
  display: inline-block;
  color: #8c8c8c;
  vertical-align: top;
  font-size: 12px;
  width: 15px;
  text-align: right;
  padding-right: 3px;
  margin-left: -15px;
  opacity: 0.2; }

.tshow:hover {
  opacity: 1; }

div.element {
  display: inline-block; }
  div.element.showborder > .content {
    /*border: 1px solid $color-lightgray;*/
    border-left: 0.5px solid black;
    border-bottom: 0.5px solid black; }
  div.element div.title {
    display: inline-block;
    color: #8c8c8c;
    padding: 0 1px 0 1px;
    margin-right: auto; }
    div.element div.title .ttype {
      color: #336dc4; }
    div.element div.title .tid {
      color: #c43232;
      font-weight: bold; }
    div.element div.title .tclass {
      color: #21891f;
      font-weight: bold; }
    div.element div.title .dummy {
      color: black;
      opacity: 0; }
    div.element div.title .tmenu {
      display: inline-block;
      height: 12px;
      width: 12px;
      vertical-align: center;
      line-height: 8px;
      text-align: center;
      color: white; }
    div.element div.title:hover .tmenu {
      padding: 1px;
      color: black;
      border: 1px solid black;
      border-radius: 2px; }
  div.element .content {
    margin-left: 15px;
    border-left: 0.5px solid #8c8c8c;
    border-bottom: 0.5px solid #8c8c8c; }
    div.element .content > p {
      /*background-color: #e3e7ed;*/
      margin: 1px 0 1px 0px;
      color: #8c8c8c; }
  div.element div.tselect {
    background-color: #e3e7ed;
    /*$color-lightgray;*/ }

div.element.collapse .content {
  display: none; }

div.element.collapse div.title .dummy {
  opacity: 1; }

/*# sourceMappingURL=edit.css.map */