/*$color-lightgray: #636363;*/
@font-face {
  font-family: DejaVu;
  src: url(/fonts/DejaVu/DejaVuSansMono.ttf) format("truetype"); }

/*$color-lightgray: #636363;*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

html, body {
  font-family: DejaVu,Arial, Helvetica, sans-serif;
  color: #353535; }

h1, h2, h3, h4, div, ul, li, p, span, button, input, textarea {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-weight: normal;
  font-size: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input,
label,
select,
button,
textarea {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  padding: 2px;
  border: 1px solid #8c8c8c; }
  input:active, input:focus,
  label:active,
  label:focus,
  select:active,
  select:focus,
  button:active,
  button:focus,
  textarea:active,
  textarea:focus {
    border: 1px solid #8c8c8c; }

button:active, button:focus {
  outline: 0; }

div:focus, div:active, span:focus, span:active {
  outline: 0;
  border: none; }

button {
  display: block;
  border: 1px solid darkgray;
  border-radius: 2px;
  background-color: darkgray;
  color: white;
  padding: 2px;
  margin: 2px; }
  button:hover {
    background-color: gray;
    outline: 0; }
  button:active {
    background-color: gray;
    outline: 0; }

.unselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none;
  cursor: default; }

.hide {
  display: none !important; }

/*blinker*/
@keyframes blinker {
  50% {
    opacity: 0; } }

div.blink {
  /*justify-content: center;*/
  height: 0px;
  width: 100%;
  align-items: center;
  text-align: left;
  cursor: vertical-text;
  font-size: 0px; }
  div.blink > div {
    display: none;
    width: 30px;
    margin-left: 2px; }
  div.blink:focus {
    height: 11px; }
  div.blink:focus > div {
    display: block;
    /*margin-top:5px;
        margin-bottom: 5px;*/
    height: 1px;
    background-color: black;
    animation: blinker 1s linear infinite; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #140068; }

.tabcontainer {
  position: absolute;
  right: 0;
  left: 0;
  /*border-bottom: 2px solid white;*/
  bottom: 0;
  padding-left: 320px; }

.tabheader {
  display: inline-block;
  background-color: gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: black;
  padding: 5px 10px 5px 10px;
  width: 80px;
  text-align: center;
  margin-right: 5px; }

.tabselect {
  background-color: white; }

#left, #right {
  position: fixed;
  top: 50px;
  bottom: 0;
  padding: 5px; }

#right {
  right: 0;
  width: 100px;
  background-color: #333333; }

#left {
  left: 0;
  width: 300px;
  background-color: #dbdbdb; }

#whitetop {
  position: fixed;
  left: 50px;
  right: 100px;
  top: 50px;
  height: 15px;
  background-color: white; }

#base {
  margin-top: 65px;
  margin-left: 300px;
  margin-right: 100px;
  padding: 15px;
  margin-bottom: 0;
  /*font-family: "Bookman Old Style";*/ }

#endbase {
  height: 200px; }

#elementmenu {
  border: 1px solid #8c8c8c;
  position: fixed;
  left: 10px;
  top: 100px;
  min-width: 100px;
  color: #336dc4;
  background-color: white;
  padding: 2px; }
  #elementmenu input {
    color: #336dc4; }
  #elementmenu > div {
    margin-top: 2px; }
    #elementmenu > div > div {
      padding: 2px;
      width: 50px;
      float: left;
      text-align: right; }

#lefttop {
  height: 80px;
  border-bottom: 1px solid black;
  margin-bottom: 15px; }
  #lefttop .updown {
    float: right; }

#leftinsert .lcont {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 180px;
  width: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #336dc4; }
  #leftinsert .lcont h2 {
    text-align: center;
    background-color: #336dc4; }
  #leftinsert .lcont div, #leftinsert .lcont button {
    margin: 3px;
    color: #336dc4;
    background-color: white;
    padding: 2px 5px 2px 5px; }

#leftprop h3 {
  text-align: center;
  background-color: #636363;
  color: white;
  margin: 3px;
  padding: 2px; }

#leftprop .propname, #leftprop .propvalue {
  display: inline-block;
  width: 48%;
  padding: 2px;
  margin: 1px; }

#leftprop .propvalue {
  border: 0.5px solid black;
  background-color: white; }

#leftprop .propname {
  text-align: right;
  color: black; }

#leftprop .ppcomment > div.propvalue {
  background-color: #97ce8c; }

#leftprop .pptype > div.propvalue {
  color: #8cd3ff;
  background-color: #636363; }

#paste > div.pastetext {
  min-height: 200px;
  overflow: scroll;
  width: 100%;
  background: white;
  border: 1px solid black;
  white-space: nowrap; }

#paste > div.pastetext[contenteditable=true]:empty:before {
  color: red;
  content: attr(placeholder);
  display: block;
  /* For Firefox */ }

.tshow {
  display: inline-block;
  color: #8c8c8c;
  vertical-align: top;
  font-size: 10px;
  width: 15px;
  text-align: right;
  padding-right: 2px;
  margin-left: -15px;
  opacity: 0.2; }

.tshow:hover {
  opacity: 1; }

#baseElement > div.title {
  font-size: 20px; }
  #baseElement > div.title span.ttype {
    font-size: 20px; }
  #baseElement > div.title span.tname {
    font-size: 20px;
    color: black;
    font-weight: bold; }
  #baseElement > div.title span.targs {
    font-size: 20px; }

div.element {
  display: inline-block; }
  div.element > .content.leftborder {
    border-left: 0.5px solid #8c8c8c;
    border-bottom: 0.5px solid #8c8c8c; }
  div.element div.title {
    display: inline-block;
    color: #8c8c8c;
    padding: 0 2px 0 2px;
    margin-right: auto; }
    div.element div.title > span {
      padding-right: 0px; }
    div.element div.title .ttype {
      color: #336dc4; }
    div.element div.title .tid {
      color: #c43232;
      font-weight: bold; }
    div.element div.title .tclass {
      color: #21891f;
      font-weight: bold; }
    div.element div.title .dummy {
      color: black;
      opacity: 0; }
    div.element div.title .tdelete {
      display: inline-block;
      height: 10px;
      width: 10px;
      vertical-align: center;
      line-height: 8px;
      text-align: center;
      color: white;
      border: 1px solid white;
      background-color: white; }
    div.element div.title:hover .tdelete {
      padding: 1px;
      color: black;
      border: 1px solid black;
      border-radius: 2px; }
  div.element:focus > div.title {
    background-color: #e3e7ed; }
  div.element .content {
    margin-left: 15px;
    /*
        border-left: 0.5px solid $color-lightgray; 
        border-bottom: 0.5px solid $color-lightgray;
        */ }
    div.element .content > p.ttext {
      width: 300px;
      display: inline-block;
      margin: 1px 0 1px 0px;
      /*color:red;*/
      color: #8c8c8c; }
    div.element .content > p.ttext:active, div.element .content > p.ttext:focus {
      outline: 0;
      border: none;
      color: black; }

div.element.collapse .content {
  display: none; }

div.element.collapse div.title .dummy {
  opacity: 1; }

/*# sourceMappingURL=edit.css.map */