/*$color-lightgray: #636363;*/
@font-face {
    font-family: DejaVu;
    src: url(/fonts/DejaVu/DejaVuSansMono.ttf) format("truetype");
}
@font-face {
    font-family: Lekton;
    src: url(/fonts/Lekton-/Lekton-Regular.ttf) format("truetype");
}




/*$color-lightgray: #636363;*/
$font-size: 11px; 
$color-outline: #cecece;


$color-lightgray:#8c8c8c;
$title-height:16px;

$color-tag:#336dc4; //#8cd3ff;
$color-id:#c43232; 
$color-class:#21891f;

$content_indent:15px;
$content_padding:2px; 
* {
    padding:0; 
    margin:0;
    border:0;
}

html, body { 
  color:#353535;
}
h1,h2,h3,h4,div,ul,li,p,span,button,input,textarea {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    font-weight: normal;
    font-size: $font-size;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input,
label,
select,
button,
textarea
{
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
    padding:2px; 
    border: 1px solid $color-lightgray;
    &:active, &:focus {
        border: 1px solid $color-lightgray;
    }
}

button:active, button:focus { outline:0;}
div:focus, div:active,span:focus, span:active { 
    outline:0; 
    border:none;
}
p:focus, p:active {
    outline: none; 
    background-color: $color-outline;
}

button {
    display: block;
    border: 1px solid darkgray;
    border-radius: 2px;
    background-color: darkgray;
    color: white; 
    &:hover { background-color: gray;outline:0;}
    &:active { background-color: gray;outline:0;}
    padding: 2px;
    margin:2px;
}
.unselect {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    cursor:default;
}
.hide {
    display: none !important;
}

div.blink {
    /*height:3px;
    background-color: yellow;*/
    width: 100%;
}

$width-left:100px;
$width-right:100px;

#header{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height:50px;
    background-color: #140068;
}

.tabcontainer {
    position: absolute;
    right:  0;
    left:   0; 
    /*border-bottom: 2px solid white;*/
    bottom:   0;
    padding-left: $width-left + 20px;
}
.tabheader {
    display: inline-block;
    background-color: gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color:black;
    padding: 5px 10px 5px 10px;
    width: 80px;
    text-align: center;
    margin-right: 5px;
}
.tabselect {
    background-color: white;
}


#left, #right{
    position:fixed;
    top:50px;
    bottom: 0;
    padding: 5px;
}

#right{
    right:0;
    width:$width-right;
    background-color: #333333;
}

#left{
    left:0;
    width:$width-left;
    background-color: #dbdbdb;
}
#whitetop
{
    position: fixed;
    left:50px;
    right:100px;
    top:50px;
    height: 15px;
    background-color: white;
}
#base{
    #menubase {
        background-color: darkblue;
        color: white;
    }
    #editbase {
        * { 
        font-family: /*Lekton,*/DejaVu,Arial, Helvetica, sans-serif; 
        }
    }
    margin-top:65px;
    margin-left: $width-left;
    margin-right: $width-right;
    padding:$content_indent;
    margin-bottom: 0;
    /*font-family: "Bookman Old Style";*/
}
#endbase{
    height:200px;
}

#lefttop {
    height:80px;
    border-bottom: 1px solid black; 
    margin-bottom: 15px;

    .updown {
        float: right;
    }

}

#leftinsert {
    
    .lcont {
        
        margin-top: 5px;
        margin-right:5px;
        margin-left: 180px;
        width: 100px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid $color-tag;;
        
        h2 {
            text-align: center;
            background-color: $color-tag;;
        }
        
        div, button {
            margin: 3px;
            color:$color-tag;;
            background-color: white;
            padding: 2px 5px 2px 5px;   
        }
    }
}

#leftprop {
    h3 {
        text-align: center; 
        background-color: #636363;
        color: white;
        margin: 3px;
        padding: 2px;
    }
    .propname, .propvalue{
        display: inline-block;
        width: 48%;
        padding: 2px;
        margin: 1px;
    }
    .propvalue {
        border: 0.5px solid black;
        background-color: white;
    }
    .propname {
        text-align: right;
        color: black;
    }
    .ppcomment>div.propvalue{
        background-color: #97ce8c;
    }
    .pptype>div.propvalue{
        color: #8cd3ff;
        background-color: #636363;
    }

}



@import "element.scss";



        