/*$color-lightgray: #636363;*/
@font-face {
    font-family: DejaVu;
    src: url(/fonts/DejaVu/DejaVuSansMono.ttf) format("truetype");
}
@font-face {
    font-family: Lekton;
    src: url(/fonts/Lekton-/Lekton-Regular.ttf) format("truetype");
}

div,p,h1,h2,h3,button{
    margin: 0; 
    padding: 0; 
}

/*$color-lightgray: #636363;*/
$half-font-size: 6px;
$font-size: 2*$half-font-size; 
$color-outline: #cecece;

html{
    //background-color:#e5e5e5;
    //background-color:#262626;
    background-color:white;
    
    font-family: Arial, Helvetica, sans-serif;
}

h1,p
{
    text-align: center; 
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}




$hhh: 600px;
$width: 350px;
$marg: 50px; 
$dwidth: 2*($width+$marg); 
#container {
    display: flex; /* or inline-flex */
    justify-content: center; 
    /*background-color: red;*/
    margin: auto;
    
    h1,h2,h3,p { text-align: left; }

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    cursor: pointer; 
    
    .fontcont {
        width: $width;
        height: $hhh; 
        margin: $marg; 
        display: static;
        font-size:14px;
        background-color: white;
        color:#3d3d3d; 
        overflow: hidden;
        .fontinfo {
            height: 130px; 
            color: blue; 
            opacity: 0; 
            display: flex;
            align-items: stretch; 
            justify-content: space-between;
            .fi {
                //border: 0.5px solid blue;
                width: 0.48*$width; 
            }
            button {
                background-color: white; 
                color: blue; 
                border: solid 1px blue;  
                border-radius: 3px; 
                height:25px; 
                width: 25px;
                margin-left: 5px;  
            }
            button:hover{
                 background-color: blue; 
                color: white; 
            }
            button:active
            {
                outline: noe; 
            }
            margin-bottom: 20px;
        }
        .fontdiv { 
            padding: 5px;
            .ppp {
                display: flex; 
                align-items: center; 
                .white { opacity: 0; }
                .pl {
                    circle {
                        opacity: 0;
                        stroke:blue;
                        stroke-width:1;
                        fill:white; 
                        //fill-opacity:0.4; 
                    }
                    .fixed circle {
                        fill:blue;
                    }
                }
                //.bname{ font-weight: bold; }
            }
        }
        
        &:hover{
            .fontinfo { opacity: 1; }
            .fontdiv .ppp {
                .hname{ color:blue; }
                .bname{ color:blue; }
                .pl circle { opacity: 1; }
            }
        }
        .hidden {
            display: none; 
        }
  }
}

#menu
{
    display: flex; /* or inline-flex */
    justify-content:  space-between ;
    /*background-color: red;*/
    width: $dwidth; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    button {
        border: none;
        padding: 10px; 
        margin: 0;
        background-color: gray;
        //border: solid 1px black;  
        color: white;
        min-width: 90px;
        &.colors { 
            background: red; 
            background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
            background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
            background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
            background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        }
        &.what { background-color:  gray; }
        &.what.sel { background-color:  white; color:gray; }
    }
}




